
//buttons ----------------------------------------------------------------------
input[type=button] {  
  border: none;  
  color: $buttonTextColor;
}

input[type=button]:hover {
  cursor: pointer;  
}

.button-green-sc {
  background-color: $buttonBgGreenColor;    
}

.button-green-sc:hover {
  background-color: $buttonBgGreenHoverColor;
}

.button-red-sc {
  background-color: $buttonBgRedColor;    
}

.button-red-sc:hover {
  background-color: $buttonBgRedHoverColor;
}

.button-yellow-sc {
  background-color: $buttonBgYellowColor;    
}

.button-yellow-sc:hover {
  background-color: $buttonBgYellowHoverColor;
}

.button-purple-sc {
  background-color: $buttonBgPurpleColor;    
}

.button-purple-sc:hover {
  background-color: $buttonBgPurpleHoverColor;
}
//buttons end ------------------------------------------------------------------

//inputs -----------------------------------------------------------------------
input[type=text], textarea {
  border: 1px solid $inputBorderColor;
}

input[type=text]:hover, textarea:hover {
  border: 1px solid $inputBorderHoverColor;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $inputBorderHoverColor;
  border: 1px solid $inputBorderHoverColor;
}
//inputs end -------------------------------------------------------------------