
//global variables

$em: em;
$percent: "%";

$desktopSizeLarge : 1;
$desktopSizeMedium : 2;
$desktopSizeSmall : 3;

$bodycolor: #ffffff;
$defaultTextColor: #2a3137;
$defaultBlueColor: #137cbd;

$logoDivBgColor: #137cbd; //#2a2c44;//#343859;
$pageHeaderBgColor: #f9f9f9;
$sideMenuBgColor: #293742;//#343859; //#333f65;
$contentBgColor: #f9f9f9;
$footerBgColor: #ffffff;

$inputBorderColor: #ced9ef;
$inputBorderHoverColor: #7786bd;

$buttonTextColor: #ffffff;
$buttonBgGreenColor: #b8f1bc;
$buttonBgGreenHoverColor: #59c65d;
$buttonBgRedColor: #f0bdc2;
$buttonBgRedHoverColor: #f37b7a;
$buttonBgYellowColor: #edddb9;
$buttonBgYellowHoverColor: #eabc58;
$buttonBgPurpleColor: #b9c0ea;
$buttonBgPurpleHoverColor: #7f8be3;

/*
  https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
  https://drafts.csswg.org/css-device-adapt/#viewport-meta

*/
