
//global variables

$em: em;
$percent: "%";

$desktopSizeLarge : 1;
$desktopSizeMedium : 2;
$desktopSizeSmall : 3;

$bodycolor: #ffffff;
$defaultTextColor: #2a3137;
$defaultBlueColor: #137cbd;

$pageHeaderBgColor: #f9f9f9;
$sideMenuBgColor: #293742;//#343859; //#333f65;
$contentBlockHoverColor: #d5dde8;
$contentBlockHoverTitleColor: #000000;
$contentBgColor: #f9f9f9;
$footerBgColor: #ffffff;

//info panel
$warnPanelBgColor : '#ec5e5e';            //ezeket az értékekeket át kell vezetni a main.js-be is, azonos névvel
$warnPanelBrdColor : '#c70000';

$inputBorderColor: #ced9ef;               //ezeket az értékekeket át kell vezetni a main.js-be is, azonos névvel
$inputBorderHoverColor: #7786bd;

$buttonTextColor: #ffffff;
$buttonBgLightGreenColor: #b8f1bc;
$buttonBgLightGreenHoverColor: #59c65d;
$buttonBgLightRedColor: #f0bdc2;
$buttonBgLightRedHoverColor: #f37b7a;
$buttonBgLightYellowColor: #edddb9;
$buttonBgLightYellowHoverColor: #eabc58;
$buttonBgLightPurpleColor: #b9c0ea;
$buttonBgLightPurpleHoverColor: #7f8be3;
$buttonBgRedColor: #e22525;
$buttonBgBlueColor: #2264f9;
$buttonBgGreyColor: #bdbdbd;
$buttonBgGreenColor: #26b731;

/*
  https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
  https://drafts.csswg.org/css-device-adapt/#viewport-meta
*/
