
//global variables

$em: em;
$percent: "%";

$bodycolor: #283558;

$logoDivBgColor: #3d4a74;
$pageHeaderBgColor: #ffffff;
$sideMenuBgColor: #333f65;
$contentBgColor: #f9f9f9;
$footerBgColor: #ffffff;



