
@import "_desktopVariables.scss"; 

@media (min-width: 64em) {    //1024px  
                              
  body {
    background-color: $bodycolor;
    margin-left: $desktopMargin;
    margin-right: $desktopMargin;
    font-family: $fontFamily;
  }
  
  .header-container-sc {
    display: block;
    width: 100%;
    height: $desktopheaderHight;
    
    .header-side-sc {
      @include leftSide();      
      background-color: $logoDivBgColor;
    }
    
    .header-containt-sc {
      @include contentSide();
    }
    
  }    
  
  .main-container-sc {    
    display: block;
    width: 100%;
    overflow: auto;
    background-color: $sideMenuBgColor;
    
    .side-menu-sc {
      @include leftSide();
      
      .side-menu-icon-sc {
        width: 20px;        
      }      
    }
    
    .content-container-sc {
      @include contentSide();      
    }    
  }
  
  .footer-container-sc {
    display: block;
    width: 100%;
    height: $desktopfooterHeight;
    
    .footer-side-sc {
      @include leftSide();
      height: 100%;
    }
    
    .footer-content-sc {
      @include contentSide();
    }
    
  }    
  
}


