
@import "../_global.scss";

//variables
$fontFamily: Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$fontSize: 0.8em;
$desktopMargin: 4em;
$desktopheaderHight: 60px;
$leftContentWidth: 20%;
$rightContentWidth: 80%;
$desktopfooterHeight: 40px;

//side menu
$sideMenuItemFrameHeight: 40px;
$desktopSVGWidth: 18px;
$desktopSVGColor: #a1aed1;
$desktopSVGHoverColor: #5fc561;
$desktopSVGStrokeWidth: 10;
$sideMenuItemTextSize: 1em;

//content
$contentContainerMinHeight: 50px;

//footer
$footerFontSize: 1em;
$footerFontWeight: bold;
$footerTextColor: #b7bec8;


//mixins
@mixin leftSide() { 
  float: left;
  width: $leftContentWidth;
  height: 100%;
  background-color: $sideMenuBgColor;
}

@mixin contentSide() {
  float: left;
  width: $rightContentWidth;
  height: 100%;
  background-color: $contentBgColor;
}

@mixin footerContainer() {
  float: left;
  width: 50%;
  padding-top: 10px;
}