
@import "_desktopVariables.scss"; 

@media (min-width: 64em) {    //1024px  
                              
  body {
    margin-left: $desktopMargin;
    margin-right: $desktopMargin;
    font-family: $fontFamily;
    font-size: $fontSize;
    background-color: $bodycolor;
  }
  
  .warning-dot {    
    float: right;
    margin-left: 2px;
    height: 10px;
    width: 10px;
    background-color: $activeRed;
    border-radius: 50%;
    display: inline-block;
  }
  
  .header-container-sc {
    display: block;
    width: 100%;
    height: $desktopheaderHight;
    
    .header-side-sc {
      @include leftSide();
      background-color: $logoDivBgColor;

      .header-logo-frame-sc {
        width: 200px;
        height: 40px;
        margin: 5px 0 0 70px;
        background: $logoDivBgColor url('../..//imgs/logo.png') no-repeat;
      }      
    }
    
    .header-containt-sc {
      @include contentSide();
      
      .header-left-content-sc {
        @include headerContainer();        
        
        .header-content-items-container-sc {
          @include headerContantContainer();          
          float: left;
          margin-left: $headerContainerMargin;
          width: 100%;
        }
      }
      
      .header-right-content-sc {
        @include headerContainer();                
        
        .header-content-items-container-sc {
          @include headerContantContainer();          
          float: right;
          margin-right: $headerContainerMargin;
          
          .header-content-item-user-name-sc {
            float: left;
            padding-top: 4px;
            
            .user-name-sc {
              display: block;
              font-weight: bold;
              color: $headerUserNameTextColor;
            }
            
            .user-status-sc {
              display: block;              
              padding-top: 2px;
              font-size: 0.8em;
              font-weight: bold;
              color: $desktopSVGHoverColor;
            }
            
            .user-team-name-sc {
              display: block;              
              padding-top: 8px;
              font-weight: bold;
              font-size: 0.8em;
              color: $greyColor;
            }
            
          }
          
          .header-content-item-user-img-sc {
            float: left;
            padding-right: 10px;            
            
            .user-image-sc {
              width: $headerUserImageSize;
              height: $headerUserImageSize;
              border-radius: 50%;
            }            
          }

          .header-content-item-settings-icon-sc {
            @include headerIconContent();
           
            svg {
              @include headerSVGIcon();
            }
            
            svg:hover {
              @include headerSVGIconHover();
            }                                               
          }
          
          .header-content-item-messages-icon-sc {
            @include headerIconContent();
            
            svg {
              @include headerSVGIcon();              
            }
            
            svg:hover {
              @include headerSVGIconHover();
            }
          }          
        }
      }            
    }    
  }
  
  .main-container-sc {    
    display: block;
    width: 100%;
    height: 100%;
    background-color: $sideMenuBgColor;
    
    .side-menu-sc {
      @include leftSide();
      
      .side-menu-item-sc {  
        text-decoration: none !important;
        color: $desktopSVGColor;
        font-weight: bold;
        
        .side-menu-item-frame-sc {
          padding-left: 20px;
          height: $sideMenuItemFrameHeight;
          border-bottom: 1px solid #54659d;          

          .side-menu-item-text-sc {
            margin-left: 10px;
            vertical-align: super;
            font-size: $sideMenuItemTextSize;
          }
        }        
      }

      svg {
        width: $desktopSVGWidth;
        fill: $desktopSVGColor;
        stroke: $desktopSVGColor;
        stroke-width: $desktopSVGStrokeWidth;
        margin-top: 12px;
      }

      .side-menu-item-sc:hover {  
        text-decoration: none !important;
        color: $desktopSVGHoverColor;
        cursor: pointer;

        svg {    
          fill: $desktopSVGHoverColor;
          stroke: $desktopSVGHoverColor;
        }
        
        .side-menu-item-frame-sc {
          background-color: $logoDivBgColor;
        }        
      }
      
      .side-menu-empty-sc {        
        position: relative;
        min-height: 100%;
        background-color: $sideMenuBgColor;        
      }      
    }
    
    .content-container-sc {
      @include contentSide();

      .content-container-frame-sc {
        min-height: $contentContainerMinHeight;        
      }      
    }
  }
  
  //content block
  .content-block-sc {
    display: block;
    width: 100%;
    
    .content-block-header-sc {
      height: 40px;
      border-top: 1px solid $contentBlockHeaderBorderColor;
      border-bottom: 1px solid $contentBlockHeaderBorderColor;
      border-left: $contentMargin solid $contentBlockHeaderBorderColor;
      background-color: $contentBlockHeaderBgColor;
      
      .content-block-title-sc {
        float: left;
        padding: 14px 0 0 10px;
        font-weight: bold;
        color: $greyColor;
      }
      
      .content-block-closeIcon-sc {
        @include contentPanelBlockHeader();        
        svg {
          @include contentPanelBlockHeaderSvg();
        }       
      }
      
      .content-block-openIcon-sc {
        @include contentPanelBlockHeader();        
        display: none;
        padding: 5px 40px 0 0;
        svg {
          @include contentPanelBlockHeaderSvg();
        }       
      }
    }
    
    .content-block-header-sc:hover {
      background-color: $contentBlockHeaderBorderColor;
    }
    
    .content-block-content-sc {
      margin: $contentMargin;
    }
  }
  
  .footer-container-sc {
    display: block;
    width: 100%;
    height: $desktopfooterHeight;
    
    .footer-side-sc {
      @include leftSide();
      height: 100%;
    }
    
    .footer-content-sc {
      @include contentSide();
      font-size: $footerFontSize;
      font-weight: $footerFontWeight;
      background-color: #e3e3e3;
      
      .footer-left-content-sc {        
        @include footerContainer();
        
        span {
          margin-left: 20px;
          color: $footerTextColor;
        }
      }
      
      .footer-right-content-sc {
        @include footerContainer();
        
        span {
          float: right;
          margin-right: 20px;
          color: $footerTextColor;
        }
      }      
    }    
  }  
  
}


