
@import "../_global.scss";

$desktopMargin: 4 + $em;

$headerHight: 80px;
$leftContentWidth: 20%;
$rightContentWidth: 80%;

$logoHeaderBgColor: #3d4a74;
$pageHeaderBgColor: #ffffff;

$footerHeight: 40px;